    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Как с нами связаться</h2>
                <p>174400, Россия, Новгородская область, город Боровичи, улица Окуловская, 12</p>
                <p>+79210258002</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                
            </div>
        </div>
    </section>