    <!-- Osnastka Section -->
    <section id="osnastka" class="content-section text-center">
        <div class="osnastka-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Изготовление технологической оснастки</h1>
                    <p><h3>Изготовим нужную технологическую оснастку: штампы, формы</p></h3>
                    <a href="#contact" class="btn btn-danger btn-lg">СВЯЗАТЬСЯ С НАМИ</a>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <a href="#razrabotka" class="btn btn-circle-black page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>