<!-- Proizvodstvo Section -->
    <section id="proizvodstvo" class="content-section text-center">
        <div class="proizvodstvo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Промышленное производство</h1>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="#contact" class="btn btn-danger btn-lg">СВЯЗАТЬСЯ С НАМИ</a>
                </div>
            </div>
        </div>
    </section>