<!-- Proizvodstvo Section -->
    <section id="proizvodstvo" class="content-section text-center">
        <div class="proizvodstvo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Промышленное производство</h1>
                    <p><h3>Изготавливаем детали и изделия методами: листовой штамповки, литья из пластмасс, литья из легких сплавов (ЦАМ, латунь, алюминий) Проводим химическую обработку.</h3></p>
                    <a href="#contact" class="btn btn-danger btn-lg">СВЯЗАТЬСЯ С НАМИ</a>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <a href="#contact" class="btn btn-circle-black page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>